@font-face {
  font-family: "Noto Sans KR";
  src: url("@/assets/fonts/notoSansKor/NotoSansKR-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("@/assets/fonts/notoSansKor/NotoSansKR-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("@/assets/fonts/notoSansKor/NotoSansKR-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("@/assets/fonts/notoSansKor/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("@/assets/fonts/notoSansKor/NotoSansKR-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("@/assets/fonts/notoSansKor/NotoSansKR-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("@/assets/fonts/notoSansKor/NotoSansKR-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("@/assets/fonts/notoSansKor/NotoSansKR-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.yangjae {
  background-color: #e84ed9;
  color: #e84ed9;
}

.spoke {
  background-color: #639656;
  color: #639656;
}

.dichae {
  background-color: #1c77ff;
  color: #1c77ff;
}

.monimo {
  background-color: #ff9142;
  color: #ff9142;
}

.admin {
  background-color: #eb1c1c;
  color: #eb1c1c;
}
