#result-page {
  background-color: #111;
  padding: 0 20px;
  min-height: 100vh;

  .result-container {
    margin-top: 58px;
    padding-bottom: 32px;

    .question-area {
      .question-number {
        line-height: 77px;
        font-size: 48px;
        color: #fff;
      }

      .question-text {
        line-height: 51px;
        font-size: 32px;
        color: #fff;
      }
    }

    .inform-text {
      margin-top: 16px;

      .inform-correct {
        font-size: 22px;
        font-weight: bold;
        color: #1c77ff;
      }

      .inform-wrong {
        font-size: 22px;
        font-weight: bold;
        color: #555555;
      }
    }

    .correct-answer-wrap {
      position: relative;
      margin-top: 38px;
      display: flex;
      align-items: center;
      isolation: isolate;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 60px;
        width: calc(100% - 40px);
        height: 100%;
        background-color: #1c77ff;
        border-radius: 20px 0 0 20px;
        z-index: -1;
      }

      .answer-number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        line-height: 1.6;
        font-size: 22px;
        color: #fff;
      }

      .selected-text {
        color: #fff;
        margin-left: 20px;
        padding: 0;
        line-height: 1.6;
        font-size: 22px;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: transparent;
      }
    }

    .user-wrap {
      display: flex;
      flex-wrap: wrap;
      margin-left: 60px;

      .correct-answer-user {
        display: flex;
        margin-top: 22px;
        align-items: center;
        margin-right: 12px;

        .user-status {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 9px;
        }

        .user-name {
          height: max-content;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          padding-bottom: 3px;
        }
      }
    }

    .wrong-answer-wrap {
      margin-top: 52px;

      .wrong-answer {
        display: flex;
        align-items: center;

        &.is-select {
          position: relative;
          isolation: isolate;

          &::before {
            content: "";
            display: block;
            position: absolute;
            left: 60px;
            width: calc(100% - 40px);
            height: 100%;
            background-color: #555555;
            border-radius: 20px 0 0 20px;
            z-index: -1;
          }
        }

        .wrong-number {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          line-height: 1.6;
          font-size: 22px;
          color: #fff;
        }

        .wrong-text {
          color: #fff;
          margin-left: 20px;
          padding: 0;
          line-height: 1.6;
          font-size: 22px;
          text-align: left;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          background-color: transparent;
        }

        .user-state-wrap {
          margin-left: 24px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 2px;

          & > ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;

            .circle {
              width: 8px;
              aspect-ratio: 1;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}
