#result-page {
  background-color: #111;
  padding: 0 20px;

  .result-container {
    margin-top: 58px;
    padding-bottom: 32px;

    .question-area {

      .question-number {
        line-height: 77px;
        font-size: 48px;
        color: #fff;
      }

      .question-text {
        line-height: 51px;
        font-size: 32px;
        color: #fff;
      }
    }
    
    .inform-text {
      margin-top: 16px;

      .inform-correct {
        font-size: 22px;
        font-weight: bold;
        color: #1C77FF;
      }
  
      .inform-wrong {
        font-size: 22px;
        font-weight: bold;
        color: #555555;
      }
    }

    .correct-answer-wrap {
      position: relative;
      margin-top: 38px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 18px;

      .answer-number {
        color: #fff;
        font-size: 22px;
      }

      .selected-text {
        position: absolute;
        right: -20px;
        color: #fff;
        width: calc(100% - 40px);
        font-size: 22px;
        text-align: left;
        background-color: #1C77FF;
        padding: 12px 0px 13px 20px;
        border-radius: 20px 0 0 20px;
        margin-left: -20px;
      }
    }
    .user-wrap {
      display: flex;
      flex-wrap: wrap;
      margin-left: 60px;

      .correct-answer-user {
        display: flex;
        margin-top: 22px;
        align-items: center;
        margin-right: 12px;
  
  
        .user-status {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 9px;
        }
  
        .user-name {
          height: max-content;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          padding-bottom: 3px;
        }
      }
    }

    .wrong-answer-wrap {
      margin-top: 52px;

      .wrong-answer {
        position: relative;
        display: flex;
        align-items: center;
        padding: 18px;

        .wrong-number {
          color: #fff;
          font-size: 22px;
        }

        .wrong-text {
          position: absolute;
          right: -20px;
          color: #fff;
          width: calc(100% - 40px);
          padding: 12px 0px 13px 20px;
          background-color: #111;
          font-size: 22px;
          text-align: left;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          &.selected-wrong {
            background-color: #555555;
            border-radius: 20px 0 0 20px;
          }
        }
      }
    }

  }

}